<DOCTYPE!>
<html>
  <head>
  </head>
  <body>
    <h1>Your pet <h1>
      <a href='/full'><button>feed</button></a>
      <a href='/rest'><button>rest</button></a>
      <a href='/engage'><button>play</button></a>

      <p>Food:{{tamagachi.food}}</p>

  </body>
</html>
