<DOCTYPE!>
<html>
  <head>
  </head>
  <body>
    <h1>hello<h1>
    <form action = "/main" method ="post">
      <label for= "name">Enter a name for your pet</label>
      <input type ="text" id= "name" name="name">
      <button type="submit">See your pet!</button>
    </form>
  </body>
</html>
